<!DOCTYPE html>

<html>
    <head> 
        <link rel="stylesheet" href="./css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>this website was created by me it uses datta from mapbox/weatherstack</p>
            <p>{{name}}</p>
            <p>uses this site to get your weather</p>
            <img class="portrait" src="/img/me.png">
            <p>created by {{name}}</p>
        </div>
        {{>footer}}
    </body>
</html>